<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Product Id="*" Name="SetupProject1" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="d380cd8d-2408-4d51-af5d-b730a878492f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <UIRef Id="WixUI_Minimal"/>     <!-- Provides UI-->
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>   <!-- Creates a single package-->

		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Incident Watcher" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="IW_VstoManifest">
        <File Id="FILE_VstoManifest" Source="$(var.IW.TargetDir)$(var.IW.TargetName).vsto" KeyPath="yes" />
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Office\Outlook\Addins\IncidentWatcher">
          <RegistryValue Name="Description" Value="Outlook Add-In for Incident Email Monitoring" Type="string" Action="write" />
          <RegistryValue Name="FriendlyName" Value="Incident Watcher" Type="string" Action="write" />
          <RegistryValue Name="LoadBehavior" Value="3" Type="integer" Action="write" />
          <RegistryValue Name="Manifest" Value="[#FILE_VstoManifest]|vstolocal" Type="string" Action="write" />
        </RegistryKey>
      </Component>
      <Component Id="IW_DllManifest">
        <File Id="FILE_DllManifest" Source="$(var.IW.TargetPath).manifest" KeyPath="yes" />
      </Component>
      <Component Id="IW_Dll">
        <File Id="FILE_Dll" Source="$(var.IW.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="IW_DllConfig">
        <File Id="FILE_DllConfig" Source="$(var.IW.TargetPath).dll.config" KeyPath="yes" />
      </Component>
      <Component Id="MS_ToolsCommon">
        <File Id="FILE_ToolsCommon" Source="$(var.IW.TargetDir)Microsoft.Office.Tools.Common.v4.0.Utilities.dll" KeyPath="yes" />
      </Component>
      <Component Id="MS_ToolsOutlook">
        <File Id="FILE_ToolsOutlook" Source="$(var.IW.TargetDir)Microsoft.Office.Tools.Outlook.v4.0.Utilities.dll" KeyPath="yes" />
      </Component>
      <Component Id="MS_IdentityModelLogging">
        <File Id="FILE_IdentityModelLogging" Source="$(var.IW.TargetDir)Microsoft.IdentityModel.Logging.dll" KeyPath="yes" />
      </Component>
      <Component Id="MS_IdentityModelTokens">
        <File Id="FILE_IdentityModelTokens" Source="$(var.IW.TargetDir)Microsoft.IdentityModel.Tokens.dll" KeyPath="yes" />
      </Component>
      <Component Id="MS_SharePointClient">
        <File Id="FILE_SharePointClient" Source="$(var.IW.TargetDir)Microsoft.SharePoint.Client.dll" KeyPath="yes" />
      </Component>
      <Component Id="MS_SharePointClientRuntime">
        <File Id="FILE_SharePointClientRuntime" Source="$(var.IW.TargetDir)Microsoft.SharePoint.Client.Runtime.dll" KeyPath="yes" />
      </Component>
      <Component Id="Newtonsoft">
        <File Id="FILE_Newtonsoft" Source="$(var.IW.TargetDir)Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Id="IdentityModel">
        <File Id="FILE_IdentityModel" Source="$(var.IW.TargetDir)System.IdentityModel.Tokens.Jwt.dll" KeyPath="yes" />
      </Component>
      <Component Id="Twilio">
        <File Id="FILE_Twilio" Source="$(var.IW.TargetDir)Twilio.dll" KeyPath="yes" />
      </Component>    
		</ComponentGroup>
    
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" />
    <Condition Message="This tool requires .NET Framework 4.6.1 Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]>
    </Condition>
    <!--Installed from redistributable-->
    <Property Id="VSTOR40_64R">
      <RegistrySearch Id="VSTOR_Installed_64R"
                      Root="HKLM" Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4R" Name="VSTORFeature_CLR40" Type="raw" />
    </Property>
    <!--Installed from Office 2010-->
    <Property Id="VSTOR40_64">
      <RegistrySearch Id="VSTOR_Installed_64"
                      Root="HKLM" Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4" Name="Install" Type="raw" />
    </Property>
    <Condition Message="This tool requires the VSTO 4.0 Runtime 64bit. Please install the VSTO runtime then run this installer again.">
      <![CDATA[Installed OR VSTOR40_64R OR VSTOR40_64]]>
    </Condition>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.6.1">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]>
    </Condition>
	</Fragment>
  
</Wix>
