<div class="verify">
        <div class="left"></div>
        <div class="container">
   
            <div class="token">
                <div class="mat-h3">Validated Access Token Claims</div>
                <table>
                    <!-- <ng-container *ngFor="let item of idtoken$ | async | keyvalue"> -->
                    <ng-container *ngFor="let item of verified_idtoken | keyvalue">
                        <tr>
                            <td class="key">{{item.key}}</td>
                            <td class="value">{{item.value}}</td>
                        </tr>   
                    </ng-container>
                </table>
            </div>
            <div class="token">
                <div class="mat-h3">Validated IDToken Claims</div>
                <table>
                    <!-- <ng-container *ngFor="let item of idtoken$ | async | keyvalue"> -->
                    <ng-container *ngFor="let item of verified_accesstoken | keyvalue">
                        <tr>
                            <td class="key">{{item.key}}</td>
                            <td class="value">{{item.value}}</td>
                        </tr>   
                    </ng-container>
                </table>
            </div>       
        </div>
        <div class="right"></div>
</div>