<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OutlookAddIn1.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OutlookAddIn1.MySettings>
      <setting name="ToggleValue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="s_Loops" serializeAs="String">
        <value />
      </setting>
      <setting name="s_Volume" serializeAs="String">
        <value />
      </setting>
      <setting name="s_Subject_Regex_P1" serializeAs="String">
        <value />
      </setting>
      <setting name="s_Subject_Regex_P2" serializeAs="String">
        <value />
      </setting>
      <setting name="s_Subject_Regex_P3" serializeAs="String">
        <value />
      </setting>
      <setting name="s_AccountSid" serializeAs="String">
        <value />
      </setting>
      <setting name="s_AuthToken" serializeAs="String">
        <value />
      </setting>
      <setting name="s_PhoneFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="s_CustomSound" serializeAs="String">
        <value />
      </setting>
      <setting name="s_Subject_Regex_P4" serializeAs="String">
        <value />
      </setting>
      <setting name="s_Body_Regex_P1" serializeAs="String">
        <value />
      </setting>
      <setting name="s_Body_Regex_P2" serializeAs="String">
        <value />
      </setting>
      <setting name="s_Body_Regex_P3" serializeAs="String">
        <value />
      </setting>
      <setting name="s_Body_Regex_P4" serializeAs="String">
        <value />
      </setting>
      <setting name="s_PreviousState" serializeAs="String">
        <value>Disabled</value>
      </setting>
      <setting name="s_LastGoodState" serializeAs="String">
        <value />
      </setting>
      <setting name="s_siteURL" serializeAs="String">
        <value>https://incidentwatcher.sharepoint.com/sites/MSteams</value>
      </setting>
      <setting name="s_SPList" serializeAs="String">
        <value>IncidentWatcher</value>
      </setting>
      <setting name="s_EmailID" serializeAs="String">
        <value>dhirensk@incidentwatcher.onmicrosoft.com</value>
      </setting>
      <setting name="s_TwiMLBinVariable" serializeAs="String">
        <value>ReadEmailBody</value>
      </setting>
      <setting name="s_TwiMLBinURL" serializeAs="String">
        <value>https://handler.twilio.com/twiml/EHc34f2378abce70c5edd2750ee4d11249</value>
      </setting>
    </OutlookAddIn1.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
